.navBar {
  width: auto;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding-right: 10px;
}

.navItem {
  display: inline-block;
  padding: 0.6rem;
  align-content: center;
  user-select: none;
}

.navItemText,
.navItemTextSelected {
  text-decoration: none;
  color: white;
  font-weight: 550;
  font-size: 17px;
}

.navItemText:hover{
  color: #18e5b0 !important;
}

.navItemTextSelected {
  color: #18e5b0 !important;
}

.navContainer {
  padding-right: 10px;
  width: auto;
  align-content: center;
}



.profileIcon {
  fill:white !important;
  height: 35px !important;
  width: 35px !important;
}

.profileIcon:active, .profileIcon:hover{
  fill: #18e5b0 !important;
}

.profile {
  outline: none !important;
  border-color: #18e5b0 !important;
  box-shadow: none !important;
}

.navMenuIcon {
  fill: white !important;
  height: 35px !important;
  width: 35px !important;
  vertical-align: middle;
}

@media only screen and (max-width: 650px) {
  .navBar {
    display: none;
  }

  .navMenu {
    display: inline;
  }
}

@media only screen and (min-width: 651px) {
  .navMenu {
    display: none !important;
  }
}

.link {
  text-decoration: none;
  width: 100%;
}
